!!! 5
html(lang="en")
	include ../includes/head
	body
		div#Container
			include ../includes/header
				include ../includes/adminNavigation
			section#Admin.main
				h2 Admin Control Panel: Positions

				if (typeof(positions) !== 'undefined')
					h3 Positions
					if (positions.length)
						select#positions
							for position in positions
								option(value=position.id) #{position.raceName} #{position.name}
					else
						p No positions
					form(action='/position/new', method='post')
						label(for='position') position name
						input(name='position', placeholder='position name')
						label(for='race') race
						if (typeof(races) !== 'undefined' && races.length)
							select(name='race')
								for race in races
									option(value=race.id) #{race.name}
						label(for='submit') save position
						input(name='submit', type='submit')

			include ../includes/footer