!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Admin.main
				h2 Admin Control Panel
				if (typeof(races) !== 'undefined')
					h3 Races
					select#Race
						if (races.length)
							for race in races
								option(value=race.id) #{race.name}
					form(action='/race/new', method='post')
						label(for='race') race name
						input(name='race', placeholder='race name')
						label(for='submit') save race
						input(name='submit', type='submit')
				if (typeof(positions) !== 'undefined')
					h3 Positions
					select#positions
						if (positions.length)
							for position in positions
								option(value=position.id) #{position.name} #{position.name}
					form(action='/position/new', method='post')
						label(for='position') position name
						input(name='position', placeholder='position name')
						label(for='submit') save position
						input(name='submit', type='submit')
				if (typeof(skills) !== 'undefined')
					h3 Skills
					select#skills
						if (skills.length)
							for skill in skills
								option(value=skill.id) #{skill.name} #{skill.name}
					form(action='/skill/new', method='post')
						label(for='skill') skill name
						input(name='skill', placeholder='skill name')
						label(for='race') race restriction
						if (races)
							select.races
								if (races.length)
									for race in races
										option(value=race.id) #{race.name}
						label(for='submit') save skill
						input(name='submit', type='submit')
				if (typeof(events) !== 'undefined')
					h3 Events
					select#events
						if (events.length)
							for event in events
								option(value=event.id) #{event.name}
					form(action='/event/new', method='post')
						label(for='event') event name
						input(name='event', placeholder='event name')
						label(for='submit') save event
						input(name='submit', type='submit')

			include includes/footer