!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 Games
				if (games)
					table.games.table.table-striped.table-bordered
						thead
							tr
								th name
								th host team
								th client team
						tbody 
							each game in games
								tr
									td 
										a(href='/game/#{game.id}') #{game.name}
									td 
										a(href='/team/#{game.hostTeam.id}') #{game.hostTeam.name}
									td
										if (game.clientTeam)
											a(href='/team/#{game.clientTeam.id}') #{game.clientTeam.name}
										else
											a(href='/game/#{game.id}') join game
				else
					p No games available
				a.create(href="/game/new") Create new game
			include includes/footer
		include includes/js
