!!! 5
html(lang='en')
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 #{team.name}: New Player
				form(action='/team/#{team.id}/player/new', method='post')
					label(for='playerName') name
					input(type='text', name='playerName', placeholder='player name', autofocus)
					label(for='positions') position
					if (typeof(positions) !== 'undefined')
						select(name='positions')
							if (positions.length)
								for position in positions
									option(value='#{position.id}') #{position.name}
					label create position
					input(name='submit', type='submit', class='btn')
					a(href='/team/#{team.id}', class='btn') cancel
			include includes/footer
