!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				if (team)
					h3 #{team.name}
					h4 re-rolls
					if (team.rerolls)
						p team.rerolls
					else
						p 0
					h4 players
					table.players.table.table-striped.table-bordered
						thead
							tr
								th #
								th player
								th position
								th cost
						tbody
							each player, i in team.players
								tr
									td #{player.number}
									td
										a(href='/player/' + player.id)
											strong #{player.name}
									td #{team.players[i].position.name}
									td #{team.players[i].position.cost}
					a.createPlayer(href='/team/#{team.id}/player/new/') add new player
				else
					p Team not found!
			include includes/footer
		include includes/js
